github "Swinject/Swinject"
github "Swinject/SwinjectStoryboard"
github "ReactiveX/RxSwift"
github "donileo/RMessage"
github "scinfu/SwiftSoup"
github "Brightify/Cuckoo"
github "ivanbruel/MarkdownKit"
github "honghaoz/Ji" ~> 5.0.0
