<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>958076221737-o855ebf2itc009hc0770u79qn5m296kg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.958076221737-o855ebf2itc009hc0770u79qn5m296kg</string>
	<key>API_KEY</key>
	<string>AIzaSyCfQbVpGVoOuSeUugXNKvEou6ZQxmab_No</string>
	<key>GCM_SENDER_ID</key>
	<string>958076221737</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ors.YASD</string>
	<key>PROJECT_ID</key>
	<string>yasd-9e6f7</string>
	<key>STORAGE_BUCKET</key>
	<string>yasd-9e6f7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:958076221737:ios:2806cac874443af3d15f38</string>
</dict>
</plist>